<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>
</head>
<body>
<h1>List of assignees</h1>
<p th:if="${assignees.size()} == 0 ">No assignee added yet</p>

<div>
    <a th:href="@{/assignee/add}">Add new Assignee</a>
</div>

<div th:unless="${assignees.size()} == 0 ">
    <table class="paleBlueRows">
        <thead>
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignee : ${assignees}">
            <td th:text="${assignee.getName()}"></td>
            <td th:text="${assignee.getEmail()}"></td>
            <td><a th:href="@{'/assignee/' + ${assignee.id} + '/delete'}">delete</a></td>
            <td><a th:href="@{'/todo/' + ${assignee.id} + '/edit'}">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>