<!DOCTYPE html>
<HTML xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Assignee edit</title>
</head>
<body>
<div id="title">
    <h1>Edit assignee</h1>
</div>

<form th:action="@{'/assignee/' + ${assignee.getId()} + '/edit'}" th:method="POST" th:object="${assignee}">
    <input type="text" th:field="*{name}" required/>
    <input type="text" th:field="*{email}" required/>
    <button type="submit">Submit</button>
</form>

</body>
</html>