<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>

<div>
    <ul>
        <li><a th:href="@{/index}">Information</a></li>
        <li><a th:href="@{/nutritionStore/(name=${fox.name})}">Nutrition Store</a></li>
    </ul>
</div>
<div>
    <img src="greenfox.png" alt="Egy zöld róka">
</div>
<div>
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink}+ '. He knows ' + ${fox.listTricks.size()} + ' tricks.'"></p>
</div>
<h1>Known Tricks</h1>
<div>
    <span th:if="${fox.listTricks.size() == 0}">You know no tricks, yet. Go and learn some.</span>
    <span th:unless="${fox.listTricks.size() == 0}">
        <ul>
          <li th:each="tricks : ${fox.getListTricks()}" th:text="tricks">

          </li>
        </ul>
      </span>
</div>
</body>
</html>