<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <ul>
        <li> <a href="http://localhost:8080/nutritionStore/index">Information</a> </li>
        <li> <a href="http://localhost:8080/nutritionStore">Nutrition Store</a> </li>
    </ul>
  </div>
  <div>
      <form th:action="@{/nutritionStore}" method="post">
          Food:
          <input type="text" name="foods" list="foodname">
          <datalist id="foodname">
              <option value="hamburger">
              <option value="pizza">
              <option value="salad">
          </datalist>
          Drink:
          <input type="text" name="drinks" list="drinkname">
          <datalist id="drinkname">
              <option value="cola">
              <option value="beer">
              <option value="water">
          </datalist>
      <button type="submit">Change</button>
      </form>
  </div>


</body>
</html>