<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <style> body {
        color: blue;
    }
    </style>
</head>
<body>
<h1>Bankaccounts</h1>

<table>
    <tr>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>ANIMALTYPE</th>
        <th>CURRENCY</th>
        <th>INDEX</th>
        <th>KING</th>
        <th>BADGUY</th>
        <th>GOODGUY</th>
    </tr>
    <tr th:each="bankAccount : ${bankAccountList}">
        <td th:text="${bankAccount.getName()}"></td>
        <td th:text="${bankAccount.getBalance()}"></td>
        <td th:text="${bankAccount.getAnimalType()}"></td>
        <td th:text="${bankAccount.getCurrency()}"></td>
        <td th:text="${bankAccountStat.index}"></td>
        <td th:text="${bankAccount.isKing()}" th:if="${bankAccount.isKing()}" style="color: #ffe200"></td>
        <td th:text="${bankAccount.isKing()}" th:unless="${bankAccount.isKing()}"></td>
        <td>
            <div th:switch="${bankAccount.getGuy()}"></p>
                <p th:case="'GoodGuy'">GoodGuy</p>
                <p th:case="'BadGuy'">BadGuy</p>
            </div>
        </td>
        <td th:text="'GoodGuy'" th:if="${bankAccount.getGuy() == 'GoodGuy'}"></td>
        <td th:text="'BadGuy'" th:unless="${bankAccount.getGuy() == 'GoodGuy'}"></td>
    </tr>
</table>

<div>
    <form th:action="@{/balance}" method="post">
            <input type = "text" name = "name">

        <button type="submit">Balance</button>
    </form>
</div>

</body>
</html>